.git
configure
config.guess
config.h.in
config.sub
depcomp
install-sh
ylwrap
test-driver
autom4te.cache
*.gz
**/Makefile
**/Makefile.in
**/.deps
**/.libs
**/*.o
**/*.so
**/*.la
**/*.lo

lisp/dir.lisp
lisp/config.lisp

tmsmt.core
