/pddl/placement-graph/*.cnf
/CMakeCache.txt
/CTestTestfile.cmake
/Makefile
catkin_generated
/gtest
/devel
/cmake_install.cmake
/CMakeFiles
/install_manifest.txt
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/install-sh
/missing
/tmsmt.core
/ylwrap
*.o
/src/planfile.c
/src/.dirstamp
*.deps/
*.lib/
/planfile_test
/compile
/doc/manual/
