*.o
*.lo
*.la
.deps/
.libs/
.dirstamp
*.core
/pddl/placement-graph/*.cnf
/CMakeCache.txt
/CTestTestfile.cmake
/Makefile
catkin_generated
/gtest
/devel
/cmake_install.cmake
/CMakeFiles
/install_manifest.txt
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/install-sh
/missing
/ylwrap
/src/planfile.c
/planfile_test
/compile
/doc/manual/
/m4/
/stamp-h1
/ltmain.sh
/libtool
/depcomp
/config.sub
/config.h.in
/config.h
/config.guess
/Doxyfile
/doc/doxygen_sqlite3.db
/doc/tmsmt.1
/demo/*.tmp
/demo/baxter-sussman.pddl
/scriptapi.md
/tmsmt-*.tar.*
/tmsmt-*
/demo/baxter-sussman-safety.tmp
