<launch>
  <param name="robot_description_semantic" textfile="$(find baxter_moveit_config)/config/baxter.srdf" />
  <param name="robot_description" textfile="$(find baxter_description)/urdf/baxter.urdf"/>

  <!-- Load parameters in top namespace -->
  <rosparam command="load" file="$(find baxter_moveit_config)/config/kinematics.yaml"/>
  <rosparam command="load" file="$(find baxter_moveit_config)/config/ompl_planning.yaml"/>

  <arg name="config" default="true"/>
  <arg name="rviz_config" default="$(find baxter_moveit_config)/launch/moveit.rviz" />

  <include file="$(find baxter_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="$(arg config)" />
    <arg name="rviz_config" value="$(arg rviz_config)" />
  </include>

</launch>
