<launch>
  <param name="robot_description_semantic" textfile="$(find baxter_moveit_config)/config/baxter.srdf" />
  <param name="robot_description" textfile="$(find baxter_description)/urdf/baxter.urdf"/>


  <!-- moveit looks in the node-local namespace.  Load the parameters
       everywhere. -->

  <!-- Load parameters in every damn namespace -->
  <rosparam command="load" file="$(find baxter_moveit_config)/config/kinematics.yaml"/>
  <rosparam command="load" file="$(find baxter_moveit_config)/config/ompl_planning.yaml"/>


  <node name="cnode" pkg="tmsmt" type="tmsmt_node" output="screen" respawn="false">
  <!-- <node name="cnode" pkg="tmsmt" type="cnode" output="screen" respawn="false"> -->
    <!-- Load parameters in every damn namespace-->
    <rosparam command="load" file="$(find baxter_moveit_config)/config/kinematics.yaml"/>
    <rosparam command="load" file="$(find baxter_moveit_config)/config/ompl_planning.yaml"/>
  </node>

</launch>
